/* styles.css */

/* container */
.fbt_container {
	background-color: rgba(255,255,255,0.50);
	margin-bottom: 1em;
}

/* smaller text */
.fbt_smaller {
	font-size: 0.9em;
}

/* summary for facebook */
.fbt_summary {
	background-color: rgba(64, 64, 192, 0.25);
	padding: 4px;
}

.fbt_summary img {
	vertical-align: middle;
	margin-right: 1em;
}

.fbt_summary span {
	vertical-align: middle;
}

.fbt_likes {
	padding: 4px;
	border-top: 1px solid rgba(64, 64, 192, 0.25);
}

.fbt_comment {
	padding: 8px 4px;
	border-top: 1px solid rgba(64, 64, 192, 0.25);
	line-height: 1.2em;
	overflow: auto;
}

.fbt_comment img {
	float: left;
	margin-right: 1em;
	border: 1px solid #ddd;
	background-color: white;
}

/* hide the facebook details by default */
.fbt_hidden {
	border-bottom: 2px solid rgba(64, 64, 192, 0.25);
	display: none;
}
